services:
  php:
    build:
      context: .docker/php
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      DATABASE_URL: mysql://linott:linott@db:3306/linott?serverVersion=10.11.0-MariaDB
      APP_ENV: dev
      APP_SECRET: 'change_this_secret_in_production_12345'

  caddy:
    image: caddy:2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/var/www/html
      - ./.docker/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - php

  db:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: linott
      MYSQL_USER: linott
      MYSQL_PASSWORD: linott
    volumes:
      - db_data:/var/lib/mysql
      - ./.docker/mariadb/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

volumes:
  db_data:
  caddy_data:
  caddy_config:
